<launch>
    <node name="imu" pkg="imu" type="imu" respawn="false" output="screen">
        <param name="port_name" value="/dev/sensors/imu"/>
        <param name="z_axis_dir" value="-1"/>
    </node>
    <node name="imu_tf_broadcaster" pkg="imu" type="tf_broadcaster" respawn="false"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find imu)/rviz_cfg/imu.rviz"/>
</launch>
